.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.input-group{
  margin-bottom: 25px;
}

.edit-btn, .delete-btn {
  width: 100px;
  margin-bottom: 10px;
}
