<div class="container">
  <div class="text-center">
    <h2> {{title}}</h2>
  </div>
  {{#compare title '==' 'My Trips'}}
    <div style="margin-bottom: 10px;">
      <button type="button" id="travel-plan-btn" data-id="{{id}}" class="btn btn-primary">Travel plan for next month </button>
      <button type="button" id="new-btn" data-id="{{id}}" class="btn btn-success pull-right new-btn">New Trip</button>
    </div>
  {{/compare}}
  {{#compare title '!=' 'My Trips'}}
    <div style="margin-bottom: 50px;">
      <button type="button" id="new-btn" data-id="{{id}}" class="btn btn-success pull-right new-btn" style="margin-bottom: 30px;">New Trip</button>
    </div>
  {{/compare}}
  <div class="row well">
    <form>
      <div class="fieldset">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
          <input id="destination" class="form-control" name="destination" placeholder="destination" type="text">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input id="startDate" class="form-control datepicker" name="startDate" placeholder="start date">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input id="endDate" class="form-control datepicker" name="endDate" placeholder="end date">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
          <input id="comment" class="form-control" name="comment" placeholder="comment" type="text">
        </div>
      </div>
      <div class="form-group">
        <button id="search-trip-btn" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>

  <div id="trips">
    {{#each trips}}
      <div class="row well">
        <div class="col-md-8">
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Destination: {{destination}}</p>
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start Date: {{start_date}}</p>
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End Date: {{end_date}}</p>
          <p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Comment: {{comment}}</p>
          <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User: {{user_name}}</p>
          {{#compare days '>=' '0'}}
            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Days to start: {{days}}</p>
          {{/compare}}
        </div>
        <div class="col-md-4 text-right">
          <div class="row">
            <button type="button" id="trip-edit-btn" data-id="{{id}}" class="btn btn-primary edit-btn">
              Edit
            </button>
          </div>
          <div class="row">
            <button type="button" id="trip-delete-btn" data-id="{{id}}" class="btn btn-danger delete-btn">
              Delete
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
