<div class="container">
  <div class="text-center">
    <h2> Manage Users</h2>
  </div>
  {{#each users}}
    <div class="row well">
      <div class="col-md-8">
        <p> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> id: {{id}}</p>
        <p> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Name: {{name}}</p>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: {{email}}</p>
        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Role: {{role}}</p>
      </div>
      <div class="col-md-4 text-right">
        <div class="row">
          <button type="button" id="user-edit-btn" data-id="{{id}}" class="btn btn-primary edit-btn">Edit</button>
        </div>
        <div class="row">
          <button type="button" id="user-delete-btn" data-id="{{id}}" class="btn btn-danger delete-btn">Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
