<div class="container">
  <div class="text-center">
    <h2> Edit User</h2>
  </div>
  <form class="well">
    <div class="fieldset">
      <input id="id" name="id" type="hidden" value="{{user.id}}">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="name" class="form-control" name="name" placeholder="name" type="text" value="{{user.name}}" required>
      </div>
      {{#compare currentUser.role '==' 'admin'}}
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
          <select id="role" name="role" placeholder="role" class="form-control" required>
            <option {{#compare user.role '==' 'regular'}} selected {{/compare}}>regular</option>
            <option {{#compare user.role '==' 'user_manager'}} selected {{/compare}}>user_manager</option>
            <option {{#compare user.role '==' 'admin'}} selected {{/compare}}>admin</option>
          </select>
        </div>
      {{/compare}}
      {{#compare currentUser.role '==' 'user_manager'}}
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
          <select id="role" name="role" placeholder="role" class="form-control" required>
            <option {{#compare user.role '==' 'regular'}} selected {{/compare}}>regular</option>
            <option {{#compare user.role '==' 'user_manager'}} selected {{/compare}}>user_manager</option>
            <option {{#compare user.role '==' 'admin'}} selected {{/compare}}>admin</option>
          </select>
        </div>
      {{/compare}}
    </div>
    <div class="form-group">
      <button id="update-user-btn" class="btn btn-primary">Update</button>
      <button id="back-btn" class="btn btn-default pull-right" type="button">Back</button>
    </div>
  </form>
</div>
