<div class="container">
  <div class="text-center">
    <h2> Edit Trip</h2>
  </div>
  <form class="well">
    <div class="fieldset">
      <input id="id" name="id" type="hidden" value="{{trip.id}}">
      {{#compare currentUser.role '!=' 'admin'}}
        <input id="userId" name="userId" type="hidden" value="{{currentUser.id}}">
      {{/compare}}
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
        <input id="destination" class="form-control" name="destination" placeholder="destination" type="text" value="{{trip.destination}}" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input id="startDate" class="form-control datepicker" name="startDate" placeholder="start date" value="{{trip.start_date}}" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input id="endDate" class="form-control datepicker" name="endDate" placeholder="end date" value="{{trip.end_date}}" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <textarea id="comment" class="form-control" name="comment" placeholder="comment" type="text" > {{trip.comment}} </textarea>
      </div>
      {{#compare currentUser.role '==' 'admin'}}
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <textarea id="userId" class="form-control" name="userId" placeholder="user id" type="text" > {{trip.user_id}} </textarea>
        </div>
      {{/compare}}
    </div>
    <div class="form-group">
      <button id="update-trip-btn" class="btn btn-primary">Update</button>
      <button id="back-btn" class="btn btn-default pull-right" type="button">Back</button>
    </div>
  </form>
</div>
