<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripsApp</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a id="manage-my-trips-link" class="text-center" href="#">My Trips</a></li>
        {{#compare currentUser.role '==' 'user_manager'}}
          <li><a id="manage-users-link" class="text-center" href="#">Manage Users</a></li>
        {{/compare}}
        {{#compare currentUser.role '==' 'admin'}}
          <li><a id="manage-users-link" class="text-center" href="#">Manage Users</a></li>
          <li><a id="manage-trips-link" class="text-center" href="#">Manage Trips</a></li>
        {{/compare}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="account-link" class="text-center" href="#">{{user.name}}</a></li>
        <li><a id="sign-out-link" class="text-center" href="#"> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="info">
</div>
