<div class="container vertical-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-heading" style="background-color: #D9EDF7;">
      <div class="panel-title">Sign Up</div>
    </div>
    <form class="well">
      <div class="fieldset">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="name" class="form-control" name="name" placeholder="name" type="text" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" class="form-control" name="email" placeholder="email" type="email" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" class="form-control" name="password" placeholder="password" type="password" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password-confirmation" class="form-control" name="password-confirmation" placeholder="password confirmation" type="password" required>
        </div>
      </div>
      <div class="form-group">
        <button id="sign-up" class="btn btn-primary">Sign Up</button>
        <button id="sign-in-btn" type="button" class="btn btn-default pull-right">Sign In</button>
      </div>
    </form>
  </div>
</div>
