<div class="container">
  <div class="text-center">
    <h2> Travel plan for next month</h2>
  </div>
  <div id="trips">
    {{#each trips}}
      <div class="row well col-md-6">
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Destination: {{destination}}</p>
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start Date: {{start_date}}</p>
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End Date: {{end_date}}</p>
          <p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Comment: {{comment}}</p>
          <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User: {{user_name}}</p>
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Days: {{days}}</p>
      </div>
    {{/each}}
  </div>
</div>
