<div id="trips">
  {{#each trips}}
    <div class="row well">
      <div class="col-md-8">
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Destination: {{destination}}</p>
        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Start Date: {{start_date}}</p>
        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> End Date: {{end_date}}</p>
        <p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Comment: {{comment}}</p>
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User: {{user_name}}</p>
        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Days: {{days}}</p>
      </div>
      <div class="col-md-4 text-right">
        <div class="row">
          <button type="button" id="trip-edit-btn" data-id="{{id}}" class="btn btn-primary edit-btn">
            Edit
          </button>
        </div>
        <div class="row">
          <button type="button" id="trip-delete-btn" data-id="{{id}}" class="btn btn-danger delete-btn">
            Delete
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
